a[role="button"],
input[type="submit"] {
    background-color: #007BFF;
    border-color: #007BFF;
}

/* Change button color on hover */
a[role="button"]:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}